body{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;}


/*Start Contact section Up the Header*/
section{
    height: 45px;
    width: 100%;
    background-color: rgb(229, 233, 233);
}
section div{
    display: flex;
    float: left;
}
section .div1{
    margin-left: 195px;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.4);
}
section .div1 i{
    padding: 8px;
    margin-top: 8px;
}
section .div1 i:hover{
    color: brown;
}
section .div2{
    margin-left: 650px;
    margin-top: 14px;
}
.div2 i{
    margin-left: 20px;
    color: rgb(7, 92, 161);
    cursor: pointer;
}
section .div2 i:hover{
    color: brown;
}
.div2 span{margin-left: 10px;
    color: rgba(0, 0, 0, 0.6);}

/*End Contact section Up the Header*/


/*start Header section*/
header{
    height: 90px;
    width: 100%;
    background-color:white;
}
header .logo{
    margin-left: 206px;
    margin-top: 22px;
}
header div{
    display: flex;
    float: left;
    margin-left: 104px;
}
header div ul li{
    list-style: none;
    float: left;
    padding: 18px;
    font-size: 18px;
}
header div ul li a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
}
header div ul li a:hover{
    color: brown;
}
header div ul button{
    height: 45px;
    width: 200px;
    color: white;
    font-size: 14px;
    outline: none;
    border: none;
    background-color: rgb(51, 140, 241);
    margin-left: 58px;
    margin-top: 5px;
    border-radius: 5px;
    cursor: pointer;
}
header div ul button:hover{
    background-color: white;
    color: rgb(51, 140, 241);
    border: 1px solid rgb(51, 140, 241);
    border-radius: 5px;
    transition: all 0.3s ease-in;
}
/*End Header section*/



/*Start Slider Section*/

.slider{
    width: 100%;
    height: 600px;
    background-image: url(image/slider\ 1.webp);
    background-size: 100% 100%;
    animation: slider 8s infinite linear;
    font-family: 'Oswald', sans-serif;
}
.slider h1{
    position: absolute;
    margin-top: 150px;
    padding: 5px;
    margin-left: 200px;
    font-size: 75px;
}
.slider h2{
    position: absolute;
    margin-top: 230px;
    padding: 5px;
    font-size: 70px;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.9);
    margin-left: 200px;
}
.slider .pslider{
    position: absolute;
    margin-top: 320px;
    padding: 5px;
    font-size: 20px;
    margin-left: 200px;
    width: 520px;
    color: rgba(255, 255, 255, 0.9);
    cursor: pointer;
}
.slider .pslider:hover{
    color: blueviolet;
}
.slider button{
    position: absolute;
    cursor: pointer;
    margin-top: 410px;
    margin-left: 208px;
    font-size: 20px;
    height: 60px;
    width: 250px; 
    border: none;
    color: white;
    font-weight:400;
    border-radius: 5px;
    background:  linear-gradient(90deg, rgb(7, 117, 243) 50%,rgb(92, 163, 244) 90%);

}
.slider button:hover{
    background:  linear-gradient(90deg,rgb(92, 163, 244) 10%,rgb(7, 117, 243)  90%);
    color:white;
    transition: all 0.1ms ease-in;
    transition-delay: 5s;
} 


@keyframes slider{
    0%{ background-image: url(image/slider\ 2.webp); }
    20%{ background-image: url(image/slider\ 2.webp); }
    40%{ background-image: url(image/slider\ 1.webp); }
    60%{ background-image: url(image/slider\ 1.webp); }
    80%{ background-image: url(image/slider\ 1.webp); }
    100%{ background-image: url(image/slider\ 2.webp); }
}

/*End Slider Section*/




/* Start Hospitality, Emergency & chamber Section*/
.section{
    height: 300px;
    width: 100%;
    background-color: rgb(220, 227, 227);
}
.section div{
    float: left;
    color: white;
}
/*Hospitality start*/
.sec2{
    height: 300px;
    width: 559px;
    background-color: rgb(102, 178, 245);
    
}
.sec2 div{
    margin-top: 25px;
}
.sec2 div h2{font-size: 35px;
    margin-left: 210px;
    margin-top: -2px;
}
.sec2 div i{
    font-size: 45px;
    margin-left: 205px;
    padding: 10px; 
    cursor: pointer;
}
.sec2 div i:hover{
    color: blueviolet;
    transition: all 0.3s ease-in;
}
.sec2 div .sec2p1{
    font-size: 20px;
    margin-left: 210px;
    width: 350px;
    margin-top: -10px;
}
.sec2 div button{
    font-size: 15px;
    margin-top: 10px;
    margin-left: 210px;
    height: 50px;
    width: 170px;
    background-color: rgb(102, 178, 245);
    border: 2px solid white;
    border-radius: 10px;
    color: white;
}
.sec2 div button:hover{
    background-color: white;
    color: rgb(102, 178, 245);
    transition: all 0.3s ease-in;
}
/*Hospitality end*/

/*Emergency Carestart*/
.sec3{
    height: 300px;
    width: 400px;
    background-color: rgb(58, 162, 242);
}
.sec3 div{
    margin-top: 25px;
}
.sec3 div h2{
    font-size: 35px;
    margin-top: -2px;
    margin-left: 50px;
}
.sec3 div i{
    font-size: 45px;
    margin-left: 38px;
    padding: 10px;
    cursor: pointer;
}
.sec3 div i:hover{
    color: blueviolet;
    transition: all 0.3s ease-in;
}
.sec3 div .sec3p1{
    font-size: 20px;
    margin-left: 50px;
    margin-top: -10px;
    width: 350px;
}
.sec3 div button{
    font-size: 15px;
    margin-top: 10px;
    margin-left: 50px;
    height: 50px;
    width: 170px;
    background-color: rgb(58, 162, 242);
    border: 2px solid white;
    border-radius: 10px;
    color: white;
}
.sec3 div button:hover{
    background-color: white;
    color: rgb(58, 162, 242);
    transition: all 0.3s ease-in;
}
/*Emergency Care end*/


/*Chamber Service start*/
.sec4{
    height: 300px;
    width: 559px;
    background-color: rgb(102, 178, 245);
    
}
.sec4 div{
    margin-top: 25px;
}
.sec4 div h2{
    font-size: 35px;
    margin-left: 50px;
    margin-top: -2px;
}
.sec4 div i{
    font-size: 45px;
    margin-left: 42px;
    padding: 10px;
    cursor: pointer;
}
.sec4 div i:hover{
    color: blueviolet;
    transition: all 0.3s ease-in;
}
.sec4 div .sec4p1{
    font-size: 20px;
    margin-left: 50px;
    margin-top: -10px;
    width: 360px;
}
.sec4 div button{
    font-size: 15px;
    margin-top: 10px;
    margin-left: 50px;
    height: 50px;
    width: 170px;
    background-color: rgb(102, 178, 245);
    border: 2px solid white;
    border-radius: 10px;
    color: white;
}
.sec4 div button:hover{
    background-color: white;
    color: rgb(102, 178, 245);
    transition: all 0.3s ease-in;
}
/*Chamber Service end*/
/* End Hospitality, Emergency & chamber Section*/



/*Start Welcome to Docmed Section*/
.Welcome-to-Docmed{
    margin-top: 100px;
    height: 500px;
    width: 100%;
}
.Welcome-to-Docmed div{
    float: left;
}
.Docmed-img{
    margin-left: 200px;
}
.Docmed-img .img1{
    margin-left: 10px;
}
.Docmed-img .img2{
    position: relative;
    top: 100px;
    left: -100px;
}

/*text section start*/
.text-div{
    height:auto ;
    width: 400px;
}
.text-div .p1{
    font-size: 20px;
    margin-top: -5px;
    color: rgb(0, 0, 0,0.7);
}
.text-div .p1 span{
    text-decoration: underline rgb(4, 222, 255); 
}
.text-div .th1{
    margin-top: 30px;
    font-size: 40px;
    color: rgb(0, 0, 0,0.8);
    width: 490px;
}
.text-div .tp2{
    margin-top: 30px;
    font-size: 18px;
    color: rgb(0, 0, 0,0.6);
    width: 400px;
    
    
}
.text-div ul{
    margin-top: 30px;
    margin-left: -20px;
}
.text-div ul li{
    margin-top: 10px;
    font-size: 18px;
    color: rgb(0, 0, 0,0.7);
    list-style:circle  ;
    size: 40px;
}
.text-div button{
height: 40px;
width: 120px;
margin-top: 20px;
margin-left: 5px;
background-color: white;
color: rgb(102, 178, 245);
border-radius: 10px;
border: 2px solid rgb(102, 178, 245);
}
.text-div button:hover{
    background-color:  rgb(102, 178, 245);
    color: white;
    transition: all 0.6 ease-in;
}
/*text section end*/
/*End Welcome to Docmed Section*/



/*Start Our Department Section*/
.maindiv{
    height: 1100px;
    width: 100%;
    margin-top: 150px;
    background-color: rgb(241, 244, 244);
}
.tdiv{
    position: relative;
    top: 50px;
    text-align: center;
}
.tdiv h1{
    font-size: 38px;
    color: rgb(0, 0, 0,0.7);
    text-decoration: underline blueviolet;
}
.tdiv p{
    width: 400px;
    margin: auto;
    color: rgb(0, 0, 0,0.6);
    left: 20px;
}

.imagesec1{
    margin-left: 180px;
    margin-top: 100px;
}
.imagesec1 a{
    border-radius: 5px;
    border: 2px solid  blueviolet;
    background-color: white;
    margin-left: 135px;
    text-decoration: none;
}
.imagesec1 a:hover{
    background-color: blueviolet;
    color: white;
    border: 2px solid rgb(235, 7, 231);
    border-radius: 5px;
    transition: all 0.3s ease-in;
}


.imagesec1 div img{
    transform: scale(1);
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
}
.imagesec1 div img:hover{
    opacity: 0.7;
    cursor: pointer;
    transform: scale(1.1);
}
.imagesec1 div{
    float: left;
    margin-top: 100px;
    margin: 20px;
}
.imagesec2{
    margin-left: 180px;
}
.imagesec2 a{
    border-radius: 5px;
    border: 2px solid  blueviolet;
    background-color: white;
    margin-left: 135px;
    text-decoration: none;
}
.imagesec2 a:hover{
    background-color: blueviolet;
    color: white;
    border: 2px solid rgb(235, 7, 231);
    border-radius: 5px;
    transition: all 0.3s ease-in;
}
.imagesec2 div img{
    transform: scale(1);
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
}
.imagesec2 div img:hover{
    opacity: 0.7;
    cursor: pointer;
    transform: scale(1.1);
}
.imagesec2 div{
    float: left;
    margin-top: 100px;
    margin: 20px;
}
/*End Our Department Section*/




/*Checkbox Slider Section start*/
.checkslider{
    margin-top: 80px;
    position: relative;
    width: 100%;
    overflow: hidden;
}
.image{
    display: flex;
    width: 100%;
    position: relative;
}


.image p{
    position: absolute;
    margin-top: 250px;
    padding: 5px;
    margin-left: 200px;
    width: 1000px;
    font-size: 25px;
    text-align: center;
    color: white;
    font-weight: bold;
    opacity: 0.9;
    left: 40px;
}

.image h4{
    position: absolute;
    padding: 5px;
    margin-left: 255px;
    width: 1000px;
    font-size: 25px;
    text-align: center;
    color: white;
    font-weight: bold;
    opacity: 0.9;
    text-decoration: underline blueviolet;
    line-height: 95vh;
}
.image img{
    height: 650px;
    width: 100%;
    transition: all 0.15s ease;
}
.image input{
    display: none;
}
.dots{
    display: flex;
    justify-content: center;
}
.dots label{
    height:50px;
    width: 15px; 
    border-radius:50px ;
    border: 3px solid blueviolet;
    cursor: pointer;
    transition: all 0.15s ease;
    margin: 20px;
    top: -250px;
    position: relative;
    display: flex;
}
.dots label:hover{background: brown;
    border-color: blue;}
.dots label:active{
    background-color: rgb(43, 226, 122);}
.dots label:checked{
        background-color: black;
    }
#img1:checked ~ .m1{
    margin-left: 0;
}
#img2:checked ~ .m2{
    margin-left: -100%;
}
/*Checkbox Slider Section End*/


/*Tabs Section Starr*/
.mytabs{
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    height: 400px;
    margin-top: -150px;
    padding: 25px;
}
.mytabs input{
    display: none;
    background-color: rgb(241, 244, 244);
    
}
.mytabs label{
    padding-left:326px;
    font-weight: bold;
    text-align: center;
    background-color: rgb(241, 244, 244);
    cursor: pointer;
}
.tab div{
    float: left;
    height: 100px;
    width: 400px;
}
.tab img{
    position: relative;
    left:400px;
}
.tab i{
    margin-left: 150px;
    font-size: 45px;
    position: relative;
    top: 50px;
}
.tab h3{
    margin-left: 150px;
    position: relative;
    top: 50px;
    width: 420px;
    font-size: 25px;
}
.tab .tabp{
    width: 400px;
    margin-left: 150px;
    position: relative;
    top: 50px;
    color: rgb(0, 0, 0,0.6);
}

label span{
    text-align: center;
    position: relative;
    top: 75px;
    font-size: 18px;
}
label .sp1{
    left: -153px;
}
label .sp2{
    left: -180px;
}
label .sp3{
    left: -200px;
}
.mytabs .tab{
    width: 100%;
    padding: 20px;
    background: rgb(255, 255, 255);
    order: 1;
    display: none;
}
.mytabs input[type='radio']:checked + label + .tab{
    display: block;
}
.mytabs input[type='radio']:checked + label{
    background: white;
}
/*Tabs Section End*/



/*Expert Doctors Section start*/
.expertdiv{
    margin-top: 150px;
    width: 100%;
}
.expertdiv div{
    float: left;
    text-align: center;
    position: relative;
    left: 40px;
    
}
figure{
    overflow: hidden;
  
}
.expdiv div img{
    
    cursor: pointer;
    
}
.zoom {
    background-color: aliceblue;
}
.zoom img{
    transform: scale(1);
    transition: all 0.3s ease-in-out;
}
.zoom img:hover{
    transform: scale(1.2);
}
.expertdiv h1{
    margin-left: 190px;
    transition: all 0.3s ease-in-out;
}
.dd{
   top: -20px;
   padding-left: 150px;
   text-align: center;
   background-color: white;
}
.dd h3, .exp{
    position: relative;
    left: -80px;
}
.dd:hover{
    background-color: rgb(102, 178, 245);
    transition: all 0.3s ease-in-out;
    color: white;
}

/*Expert Doctors Section end*/



/*Contact & Appointment Section Start*/
.contactdiv{
    margin-top: 150px;
    display: flex;
    float: left;
    height: auto;
    width: 100%;
    background-color: aliceblue;
}
.Contact1{
    height: 300px;
    width: 50%;
    background-image: url(image/For\ Any\ Emergency\ Contact.webp);
    background-repeat: no-repeat;
}
.Contact1 .Contact1h1{
    margin-left: 250px;
    margin-top: 60px;
    color: white;
}
.Contact1 .Contact1p1{
    margin-left: 250px;
    color: white;
}
.Contact1 button{
    height: 40px;
    width: 160px;
    background-color: white;
    outline: none;
    border-color:  rgb(102, 178, 245);
    border-radius: 20px;
    margin-left: 240px;
    position: relative;
    top: 10px;
}
.Contact1 button:hover{
    background-color: rgb(102, 178, 245);
    color: white;
    border: 2px solid white;
    transition: all 0.s ease-in;
}

.Contact2{
    height: 300px;
    width: 50%;
    background-image: url(image/Make\ an\ Online\ Appointment.webp);
    background-repeat: no-repeat;
}

.Contact2 .contact2h{
    margin-left: 50px;
    margin-top: 60px;
    color: white;
}
.Contact2 .contact2p{
    margin-left: 50px;
    color: white;
}
.Contact2 button{
    height: 40px;
    width: 160px;
    background-color: white;
    outline: none;
    border-color:  rgb(102, 178, 245);
    border-radius: 20px;
    margin-left: 50px;
    position: relative;
    top: 10px;
}
.Contact2 button:hover{
    background-color: rgb(102, 178, 245);
    color: white;
    border: 2px solid white;
    transition: all 0.s ease-in;
}
/*Contact & Appointment Section end*/




/*Footer Section Start*/
footer .mainfoot{
    height: 450px;
    width: 100%;
    background-color: rgb(16, 24, 57);
    position: relative;
    top: 100px;
    display: flex;
    float: left;
    color: white;
    margin-top: -150px;
}
 /*Fd 1 start*/   
.mainfoot .fd1{
    margin-top: 110px;
    margin-left: 180px;
}
.mainfoot .fd1 img{
    background-color: white;
    border-radius: 5px;
}
.mainfoot .fd1 .footp{
    font-size: 20px;
    margin-top: 40px;
    width: 400px;
    opacity: 0.7;
}
.mainfoot .fd1 i{
    font-size: 50px;
    color: white;
    opacity: 0.5;
    padding: 10px;
    margin-left: -10px;
    margin-top: 15px;
}
/*Fd 1 End*/

/*fd 2 start*/
.mainfoot .fd2{
    margin-top: 85px; 
}
.mainfoot h2{
    font-size: 30px;
    opacity: 0.8;
    margin-left: 35px;
    text-decoration: underline brown;
}
.mainfoot ul{margin-top: 40px;}
.mainfoot ul li{
    list-style: none;
    margin-top: 20px;
}
.mainfoot ul li a{
    text-decoration: none;
    color: white;
    opacity: 0.7;
    font-size: 20px;
}
/*fd 2 end*/

/*fd 3 start*/
.mainfoot .fd3{
    margin-top: 85px; 
    margin-left: 50px;
    width: 500px;
}
.mainfoot h2{
    width: 180px;
}
/*fd 3 end*/

/*fd 4 start*/
.mainfoot .fd4{
    margin-top: 85px; 
    width: 500px;
    margin-left: -150px;
}
.mainfoot .fp{
    font-size: 20px;
    margin-left: 40px;
    opacity: 0.7;
}

/*fd 4 end*/
/*CopRight Section start*/
section .copy{
    height: 100px;
    width: 100%;
    margin-top: 100px;
    background-color: rgb(17, 19, 36);
  color: rgb(255, 255, 255);
}
section .copy .secp{
    font-size: 20px;
    margin: auto;
}
/*CopRight Section end*/
/*Footer Section End*/

